replicaCount: 1

image:
  repository: ghcr.io/huggingface/text-generation-inference
  tag: "2.4.0"
  pullPolicy: IfNotPresent

model:
  id: Qwen/Qwen3-8B
  quantize: awq
  maxInputLength: 4096
  maxTotalTokens: 8192

service:
  type: ClusterIP
  port: 8080

resources:
  limits:
    cpu: 4000m
    memory: 32Gi
    nvidia.com/gpu: 1
  requests:
    cpu: 2000m
    memory: 16Gi

persistence:
  hostPath: /home/jondyer3/.cache/huggingface

nameOverride:
fullnameOverride:
