replicaCount: 1

image:
  repository: nvcr.io/nvidia/vllm
  tag: "26.01-py3"
  pullPolicy: IfNotPresent

model:
  id: Qwen/Qwen3-8B
  maxModelLen: 8192

service:
  type: ClusterIP
  port: 8080

resources:
  limits:
    cpu: 4000m
    memory: 64Gi
    nvidia.com/gpu: 1
  requests:
    cpu: 2000m
    memory: 32Gi

persistence:
  hostPath: /home/jondyer3/.cache/huggingface

nameOverride:
fullnameOverride:
