host: spark-b0f2.local
ingressClassName: nginx

routes:
  frontend:
    path: /skill-adapter-frontend
    serviceName: frontend
    servicePort: 3000
  api:
    path: /skill-adapter-api
    serviceName: api
    servicePort: 8000
  inference:
    path: /skill-adapter-inference
    serviceName: tgi
    servicePort: 8080
